* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e3f2fd;
}

.wrapper {
  background: #141414;
  width: 780px;
  border-radius: 20px;
  padding: 35px 40px;
}

.wrapper header {
  color: #b2b2b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h2 {
  font-size: 1.6rem;
}

header .column {
  display: flex;
  align-items: center;
}

header .column span {
  margin-right: 15px;
  font-weight: 500;
  font-size: 1.19rem;
}

.volume-slider input {
  accent-color: #fff;
  outline: none;
  cursor: pointer;
}

.keys-chexkbox input {
  appearance: none;
  width: 60px;
  height: 30px;
  cursor: pointer;
  border-radius: 30px;
  background: #4b4b4b;
  position: relative;
}

.keys-chexkbox input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: inherit;
  background: #8c8c8c;
  transform: translateY(-50%);
  transition: all ease 0.4s;
}

.keys-chexkbox input:checked:before {
  left: 35px;
}

.piano-keys {
  display: flex;
  margin-top: 40px;
}

.piano-keys .key {
  list-style: none;
  color: #a2a2a2;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  /*user-select       nima         ?????? */
  position: relative;
}

.piano-keys .black {
  width: 44px;
  height: 140px;
  margin: 0 -22px;
  z-index: 2;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333, #000);
}

.piano-keys .black.active {
  box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.2);
  background: linear-gradient(to bottom, #000, #434343);
}

.piano-keys .white {
  width: 70px;
  height: 230px;
  border-radius: 8px;
  border: 1px solid #000;
  background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys .white.active {
  box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #fff, #eee);
}

.piano-keys .key span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-size: 1.13rem;
  text-align: center;
}

.piano-keys .key.hide span {
  display: none;
}
